* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex  {
    display: flex;
    justify-content: center;
    align-items: center;
}




/*        NAVBAR          */
#navbar {
    width: 100%;
    height: 5rem;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 20%;
    height: 100%;
    /* background-color: bisque; */
}

.navbar-logo img {
    height: 100%;
    width: 50%;
}

.navbar-tittle {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.navbar-tittle h2 {
    font-size: 2rem;
    font-weight: 800;
}

.navbar-tittle h3 {
    font-size: 1rem;
    font-weight: 600;
    color: grey;
}




.navbar-links {
    height: 100%;
    width: 45%;
    /* background-color: royalblue; */
}

.navbar-links  ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-links ul li {
    list-style: none;
}

.navbar-links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 1.2rem;
}


.navbar-buttons {
    height: 100%;
    width: 25%;
    /* background-color: cadetblue; */
    gap: 1rem;
}

.navbar-buttons button {
    padding: 1rem 2.5rem;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: 1rem;
}

#signin-but {
    background: transparent;
    transition: all 0.4s linear;
}

#signin-but:hover {
    background-color: #5e605f;
    color: antiquewhite;
    box-shadow: 5px 5px 20px #5e605f;
}

#register-but {
    background-color: #5e605f;
    color: antiquewhite;
    transition: all 0.4s linear;
}

#register-but:hover {
    background: transparent;
    color: black;
    box-shadow: 5px 5px 20px #5e605f;
}


.hamburger {
    display: none;
    width: 35px;
    height: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1001;
    gap: 0.2rem;
}

.hamburger span {
    height: 5px;
    width: 45%;
    background: #000;
    border-radius: 10px;
    transition: 0.3s;
}
