* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #f9e7d6; */
    scroll-behavior: smooth;
}

body {
    padding-top: 5rem;
    /* overflow-x: hidden; */
    background-color: #f9e7d6;
}

.flex  {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*        NAVBAR          */

#navbar {
    width: 100%;
    height: 5rem;
    /* background-color: #f6eadc; */
    background: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* overflow: hidden; */
    backdrop-filter: blur(6px);
}

.navbar-logo {
    width: 20%;
    height: 100%;
    /* background-color: bisque; */
}

.navbar-logo img {
    height: 100%;
    width: 50%;
}

.navbar-tittle {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.navbar-tittle h2 {
    font-size: 2rem;
    font-weight: 800;
}

.navbar-tittle h3 {
    font-size: 1rem;
    font-weight: 600;
    color: grey;
}




.navbar-links {
    height: 100%;
    width: 45%;
    /* background-color: royalblue; */
}

.navbar-links  ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-links ul li {
    list-style: none;
}

.navbar-links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 1.2rem;
}


.navbar-buttons {
    height: 100%;
    width: 25%;
    /* background-color: cadetblue; */
    gap: 1rem;
}

.navbar-buttons button {
    padding: 1rem 2.5rem;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: 1rem;
}

#signin-but {
    background: transparent;
    transition: all 0.4s linear;
}

#signin-but:hover {
    background-color: #434a52;
    color: antiquewhite;
    box-shadow: 5px 5px 20px #434a52;
}

#register-but {
    background-color: #434a52;
    color: antiquewhite;
    transition: all 0.4s linear;
}

#register-but:hover {
    background: transparent;
    color: black;
    box-shadow: 5px 5px 20px #434a52;
}


.hamburger {
    display: none;
    width: 44px;
    height: 44px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    gap: 0.28rem;
    padding: 0.3rem;
}

.hamburger span {
    height: 3px;
    width: 24px;
    background: #000;
    border-radius: 10px;
    transition: 0.3s;
}











/*        HERO        */

#hero {
    min-height: calc(100vh - 5rem);
    width: 100%;
    background: #f9e7d6 url("Assets/hero\ background.png") no-repeat;
    background-position: right top;
    background-size: 70%;
    overflow: hidden;
}

.hero-left {
    height: 50%;
    width: 30%;
    /* background-color: beige; */
    background: transparent;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.hero-left h3 {
    width: 80%;
    font-weight: 900;
    color: #000;
}

.hero-left h1 {
    font-weight: 900;
    width: 80%;
}

.hero-left h1 span {
    color: #5e605f;
}


.hero-left p {
    font-weight: 700;
    width: 75%;
    color: grey;
}


.hero-left-buttons {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-left-buttons button {
    padding: 0.8rem 1rem;
    /* border: 1px solid; */
    border-radius: 15px;
}

#book-ride {
    color: antiquewhite;
    background-color: #434a52;
    font-size: 1rem;
    border: none;
    transition: all 0.9s linear;
}

#book-ride:hover {
    background: transparent;
    color: #434a52;
    box-shadow: 5px 5px 20px #434a52;
    border: none;
    font-weight: 900;
}

#learn-more {
    background: transparent;
    color: #434a52;
    font-weight: 900;
    border: none;
    font-size: 1rem;
    transition: all 0.9s linear;
}

#learn-more:hover {
    color: #f6eadc;
    background-color: #434a52;
    box-shadow: 5px 5px 20px #434a52;
    border: none;
}



#register-but {
    background-color: #434a52;
    color: antiquewhite;
    transition: all 0.4s linear;
}

#register-but:hover {
    background: transparent;
    color: black;
    box-shadow: 5px 5px 20px #434a52;
}


.hero-right {
    height: 70%;
    width: 55%;
    /* background-color: beige; */
    background: transparent;
    /* border: 1px solid; */
}


.hero-right img {
    height: 100%;
    width: 100%;
}





/*        Services        */

#services {
    height: 50vh;
    width: 100%;
    background-color: #f9e7d6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-outer {
    height: 85%;
    width: 85%;
    /* border: 1px solid; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.booking-outer-heading {
    height: 15%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.booking-outer-heading h1 {
    font-weight: 900;
}

.booking-contents {
    height: 90%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.booking-contents-cards {
    height: 35%;
    width: 30%;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booking-contents-cards-up {
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.booking-contents-cards-up svg {
    color: #434a52;
    height: 34px;
    width: 49px;
}

.booking-contents-cards-up p {
    font-weight: 505;
}

.booking-contents-cards-up p  span {
    color: #6d747b;
}

.booking-contents-cards-down {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    
}

.booking-contents-cards-down select {
    width: 50%;
    margin-left: 3.5rem;
    background: transparent;
    border: none;
}

.booking-contents-cards button {
    height: 50%;
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: #434a52;
}

.booking-contents-cards button p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    gap: 1rem;
    color: aliceblue;
    font-weight: 900;
}

.booking-contents-cards button svg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    gap: 1rem;
    color: aliceblue;
}



/*          ABOUT       */
#info {
    margin-top: 9rem;
    height: 70vh;
    width: 100%;
    /* background-color: aqua; */
}

.info-outer {
    height: 90%;
    width: 80%;
    /* border: 1px solid ; */
}

.info-head {
    height: 30%;
    width: 100%;
    /* background-color: hotpink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}



.info-body {
    height: 70%;
    width: 100%;
    /* background-color: rgb(69, 181, 73); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.info-card {
    height: 80%;
    width: 30%;
    /* background-color: rosybrown; */
    /* display: flex;
    flex-direction: column; */
}

.info-card-top {
    height: 50%;
    width: 100%;
    /* background-color: wheat; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card-top svg {
    height: 80%;
    width: 80%;
    fill: #6d747b;
}

.info-card-bottom {
    height: 50%;
    width: 100%;
    /* background-color: rgb(170, 165, 155); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}



/*      RENTAL          */

#Rent {
    margin-top: 7rem;
    height: 100vh;
    width: 100%;
    
}

.rent-outer {
    height: 80%;
    width: 100%;
    /* background-color: aqua; */
    /* border: 1px solid; */
}

.rent-heading {
    height: 20%;
    width: 100%;
    /* background-color: khaki; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.rent-heading h2 {
    font-weight: 800;
}

.rent-heading h1 {
    font-weight: 900;
}

.rent-heading p {
    width: 35%;
    text-align: center;
    color: #6d747b;
}

.rent-details {
    margin-top: 1rem;
    height: 80%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-name {
    height: 100%;
    width: 23%;
    /* background-color: lawngreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.car-name button {
    height: 10%;
    width: 70%;
    border: none;
    background: transparent;
    font-weight: 900;
    font-size: 1.5rem;
    transition: all 0.5s linear;
    border-radius: 10px;
}

.car-name button:hover {
    background-color: #6d747b;
    border: none;
    color: #f9e7d6;
}

.car-image {
    height: 100%;
    width: 45%;
    /* background-color: rgb(79, 59, 150); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-image img {
    height: 80%;
    width: 100%;
}

.car-details-outer {
    height: 100%;
    width: 30%;
    /* background-color: rgb(222, 82, 32); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.car-details {
    height: 75%;
    width: 100%;
    /* background-color: mediumspringgreen; */
}

.car-details-heading {
    height: 5%;
    width: 100%;
    padding: 1rem;
}

.car-details-details {
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.details {
    height: 10%;
    width: 90%;
    border: 1px solid;
    display: flex;
}

.left-detail {
    height: 100%;
    width: 50%;
    background-color: #c9c9c9;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.right-detail {
    height: 100%;
    width: 50%;
    background-color: transparent;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-details-button{
    height: 15%;
    width: 100%;
    /* background-color: indianred; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-details-button button {
    height: 55%;
    width: 60%;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: #434a52;
    color: #f9e7d6;
    transition: all 0.5s linear;
}

.car-details-button button:hover {
    background-color: transparent;
    color: #000;
    box-shadow: 2px 2px 10px #434a52;
}





/*      Testimonial     */

#testimonial {
    margin-top: 8rem;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-outer {
    height: 70%;
    width: 80%;
    /* border: 1px solid; */
}

.testi-upper {
    height: 30%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.9rem;
}

.testi-upper p {
    width: 60%;
    text-align: center;
    color: #6d747b;
}

.testi-lower {
    height: 70%;
    width: 100%;
    /* background-color: rgb(41, 159, 60); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.testi-lower-card {
    height: 80%;
    width: 45%;
    /* background-color: ivory; */
}

.client-review {
    height: 60%;
    width: 100%;
    /* background-color: olive; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.client-review p {
    font-size: 1.5rem;
    color: #434a52;
}

.client-details {
    height: 40%;
    width: 100%;
    /* background-color: rgb(31, 144, 67); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.name-client  {
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.photo {
    height: 80%;
    width: 30%;
    border-radius: 50%;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/057/289/111/small/smiling-anime-girl-amidst-cherry-blossoms-in-warm-golden-sunlight-free-photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgreen;
}


.photo-1 {
    height: 80%;
    width: 30%;
    border-radius: 50%;
    background-image: url(https://images.stockcake.com/public/a/6/d/a6d08fd6-5151-45f1-b8d4-fa8cb6e8f811_large/mischievous-boy-character-stockcake.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgreen;
}


.rate-client {
    height: 100%;
    width: 50%;
    /* background-color: rgb(65, 169, 27); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-client span {
    color: goldenrod;
    font-size: 1.6rem;
}




/*     Download   */
#details-download {
    height: 50vh;
    width: 100%;
    /* background-color: honeydew; */
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.details-outer {
    width: 50%;
    height: 100%;
    /* background-color: lawngreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details-details {
    height: 70%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.details-details h1 {
    font-size: 2rem;
    color: #000;
    width: 100%;
}

.details-details p {
    width: 100%;
    color: #6d747b;
    font-size: 1.2rem;
}



.details-button {
    height: 30%;
    width: 100%;
    /* background-color: rgb(193, 149, 26); */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.details-button button {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    background-color: #252525;
    border: none;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.details-button button:hover {
    box-shadow: 15px 15px 10px #898c8f;
}

.details-button button .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-button button .icon i {
    font-size: 3.5rem;
    color: #a8aba9;
}


.details-button button .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
}

#book {
    font-size: 1rem;
    color: #898c8f;
}

#best-price {
    font-size: 1.5rem;
    font-weight: 900;
    color: #f9e7d6;
}



/*          FOOTER          */
#footer {
    margin-bottom: 1rem;
    height: 25vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: #ead2bc; */
}

.footer-contents {
    height: 100%;
    width: 90%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-cards-1 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: thistle; */
    gap: 1rem;
    flex-wrap: wrap;
}


.footer-cards-1 p {
    width: 70%;
    color: #6d747b;
    font-weight: 300;
}

.footer-cards-2 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: thistle; */
    gap: 1rem;
    flex-wrap: wrap;
}

.footer-cards-2 p {
    width: 70%;
    color: #6d747b;
    font-weight: 300;
}

.footer-cards-3 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: thistle; */
    gap: 1.45rem;
    flex-wrap: wrap;
}

.footer-cards-3 p {
    width: 70%;
    color: #6d747b;
    font-weight: 300;
}

.footer-cards-4 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: thistle; */
    gap: 1rem;
    flex-wrap: wrap;
}

.footer-cards-4 p {
    width: 70%;
    color: #6d747b;
    font-weight: 300;
}

.footer-cards-4 input {
    border: none;
    background: transparent;
}

.footer-cards-4 button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #5e605f;
    border-radius: 8px;
    color: #f9e7d6;
    border: none;
    font-weight: 800;
}