* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}

.flex  {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #faecdc;
    padding-top: 10vh;
}


/*        NAVBAR          */

#navbar {
    width: 100%;
    height: 5rem;
    background-color: #f6eadc;
    /* background: transparent; */
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* overflow: hidden; */
}

.navbar-logo {
    width: 20%;
    height: 100%;
    /* background-color: bisque; */
}

.navbar-logo img {
    height: 100%;
    width: 50%;
}

.navbar-tittle {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.navbar-tittle h2 {
    font-size: 2rem;
    font-weight: 800;
}

.navbar-tittle h3 {
    font-size: 1rem;
    font-weight: 600;
    color: grey;
}




.navbar-links {
    height: 100%;
    width: 45%;
    /* background-color: royalblue; */
}

.navbar-links  ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-links ul li {
    list-style: none;
}

.navbar-links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 1.2rem;
}


.navbar-buttons {
    height: 100%;
    width: 25%;
    /* background-color: cadetblue; */
    gap: 1rem;
}

.navbar-buttons button {
    padding: 1rem 2.5rem;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: 1rem;
}

#signin-but {
    background: transparent;
    transition: all 0.4s linear;
}

#signin-but:hover {
    background-color: #434a52;
    color: antiquewhite;
    box-shadow: 5px 5px 20px #434a52;
}

#register-but {
    background-color: #434a52;
    color: antiquewhite;
    transition: all 0.4s linear;
}

#register-but:hover {
    background: transparent;
    color: black;
    box-shadow: 5px 5px 20px #434a52;
}


.hamburger {
    display: none;
    width: 44px;
    height: 44px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    gap: 0.28rem;
    padding: 0.3rem;
}

.hamburger span {
    height: 3px;
    width: 24px;
    background: #000;
    border-radius: 10px;
    transition: 0.3s;
}




/*      HERO            */

#hero {
    height: 55vh;
    width: 100%;
    /* background-color: palegreen; */
    background-image: url(../../Assets/contact\ back.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}


.hero-inside {
    height: 85%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.hero-left {
    height: 90%;
    width: 50%;
    /* background-color: midnightblue; */
    /* border: 1px solid; */
    margin-bottom: 3rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.hero-left-con {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1.6rem;
}

.hero-butt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-butt button {
    background: transparent;
    border: none;
    outline: none;
    font-weight: 550;
}

.hero-butt button i {
    font-weight: 550;
}


.hero-right {
    height: 70%;
    width: 45%;
    /* background-color: midnightblue; */
    background-image: url(../../Assets/back\ contact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#first {
    background-color: #f7e0c6;
    padding: 0.6rem;
    border-radius: 10px;
    color: #eaaf6b;
    font-weight: 700;
}

.hero-left-con h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.hero-left-con p {
    color: grey;
}








/*          COntact Info        */

#Contact-info {
    height: 80vh;
    width: 100%;
    /* background-color: #6d747b; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 2rem;
    gap: 2rem;
}

.info-left {
    height: 90%;
    width: 33%;
    /* background-color: rgb(70, 19, 19); */
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.info-left-headding {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.info-left-card-outer {
    height: 85%;
    width: 100%;
    /* background-color: azure; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}



.card {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightpink; */
    padding: 0.5rem;
}

.card-btn {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn button {
    padding: 1rem;
    background: transparent;
    border: none;
}

.card-btn button i {
    font-size: 3rem;
    color: #eaaf6b;
}

.card-details {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
    gap: 0.4rem;
}

.card-details h3 {
    /* text-align: center; */
    font-weight: 800;
}

.card-details p {
    color: grey;
}



.info-right {
    height: 90%;
    width: 63%;
    background-color: orchid;
}



















/*          FOOTER          */
#footer {
    margin-top: 10rem;
    margin-bottom: 1rem;
    height: 28vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: #ead2bc; */
    background: transparent;
}

.footer-contents {
    height: 100%;
    width: 90%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-cards-1 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: thistle; */
    gap: 1rem;
    flex-wrap: wrap;
}


.footer-cards-1 p {
    width: 70%;
    color: #6d747b;
    font-weight: 300;
}

.footer-cards-2 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: thistle; */
    gap: 1rem;
    flex-wrap: wrap;
}

.footer-cards-2 p {
    width: 70%;
    color: #6d747b;
    font-weight: 300;
}

.footer-cards-3 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: thistle; */
    gap: 1.45rem;
    flex-wrap: wrap;
}

.footer-cards-3 p {
    width: 70%;
    color: #6d747b;
    font-weight: 300;
}

.footer-cards-4 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* background-color: thistle; */
    gap: 1rem;
    flex-wrap: wrap;
}

.footer-cards-4 p {
    width: 70%;
    color: #6d747b;
    font-weight: 300;
}

.footer-cards-4 input {
    border: none;
    background: transparent;
}

.footer-cards-4 button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #5e605f;
    border-radius: 8px;
    color: #f9e7d6;
    border: none;
    font-weight: 800;
}










































/* ==========================================================   Large Desktop  ======================================= */
@media (max-width: 1400px) {

    .navbar-buttons button {
        padding: 0.5rem 1rem;
    }

}











/* ==========================================================   Laptop ======================================= */
@media (max-width: 1200px) {


    .navbar-buttons button {
        padding: 0.5rem 1rem;
    }

    #hero  {
        height: 90vh;
        width: 100%;
    }

    .hero-inside {
        width: 100%;
    }


    #Contact-info {
        height: 100vh;
    }


    #footer {
        height: 30vh;
        width: 100%;
    }

    .footer-cards-3 {
        display: none;
    }
}










/* ==========================================================   Tablet ======================================= */
@media (max-width: 992px) {

    .navbar-buttons {
        justify-content: start;
    }

    .navbar-buttons button {
        padding: 0.5rem 1rem;
    }

     #footer {
        height: 50vh;
        width: 100%;
    }

    .footer-cards-4 {
        display: none;
    }

    .hero-butt {
        gap: 1rem;
    }

    .hero-right {
        display: none;
    }
    
    #Contact-info {
        height: 200vh;
        display: flex;
        flex-direction: column;
    }

    .info-left {
        width: 60%;
    }

    .info-right {
        width: 90%;
    }

    #footer {
        display: none;
    }
}











/* ==========================================================   Tablet Potrait ======================================= */
@media (max-width: 768px) {

    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo {
        width: 30%;
    }

    .navbar-links {
        position: fixed;
        top: 5rem;
        left: -100%;
        width: 100%;
        height: calc(100vh - 5rem);
        background-color: antiquewhite;
        transition: .4s;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .navbar-links ul {
        flex-direction: column;
        gap: 2rem;
    }

    .navbar-links.active {
        left: 0;
        display: flex;
    }

    .navbar-buttons {
        width: 18%;
    }

    .hamburger {
        display: block;
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(195, 195, 81); */
    }

    #signin-but {
        display: none;
    }

    .hamburger{
        display:flex;
    }

    .about-left {
        width: 100%;
    }

    #register-but {
        padding: 0.5rem 1rem;
        width: 80%;
    }

    .info-right {
        width: 95%;
    }
    
    #footer {
        display: none;
    }

}



/* ==========================================================   Large Phones ======================================= */
@media (max-width: 576px) {
    
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo {
        width: 25%;
    }

    .navbar-links {
        position: fixed;
        top: 5rem;
        left: -100%;
        width: 100%;
        height: calc(100vh - 5rem);
        background-color: antiquewhite;
        transition: .4s;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .navbar-links ul {
        flex-direction: column;
        gap: 2rem;
    }

    .navbar-links.active {
        left: 0;
        display: flex;
    }

    .navbar-buttons {
        width: 35%;
    }

    .hamburger {
        display: block;
        width: 15%;
        height: 100%;
        /* background-color: rgb(195, 195, 81); */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #signin-but {
        display: none;
    }

    #register-but {
        padding: 0.5rem 1rem;
        width: 60%;
    }

    .hamburger{
        display:flex;
    }


    #footer {
        height: 25vh;
    }

    .footer-cards-3 {
        display: none;
    }

    .footer-cards-1 {
        width: 100%;
    }

    .hero-inside {
        overflow: visible;
        flex-direction: column-reverse;
    }

    .hero-left {
        width: 90%;
    }

    .info-left {
        width: 80%;
    }

    .info-right {
        width: 100%;
    }
}










/* ==========================================================   small phones ======================================= */
@media (max-width: 480px) {

     #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo {
        width: 35%;
    }

    .navbar-links {
        position: fixed;
        top: 5rem;
        left: -100%;
        width: 100%;
        height: calc(100vh - 5rem);
        background-color: antiquewhite;
        transition: .4s;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .navbar-links ul {
        flex-direction: column;
        gap: 2rem;
    }

    .navbar-links.active {
        left: 0;
        display: flex;
    }

    .navbar-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

    .hamburger {
        display: block;
        width: 18%;
        height: 100%;
        /* background-color: rgb(195, 195, 81); */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #signin-but {
        display: none;
    }

    .hamburger{
        display:flex;
    }

    .hero-left {
        width: 80%;
    }

    .hero-right {
        width: 90%;
    }

    #register-but {
        padding: 0.5rem 0.8rem;
        width: 60%;
    }

    .hero-right {
        display: none;
    }

    .hero-left {
        width: 100%;
    }
    
    #footer {
        display: none;
    }
}












/* ==========================================================   Super Small Phones ======================================= */
@media (max-width: 360px) {

    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo {
        width: 35%;
    }

    .navbar-links {
        display: none;
    }

    .navbar-buttons {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        display: block;
        width: 18%;
        height: 100%;
        /* background-color: rgb(195, 195, 81); */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #signin-but {
        display: none;
    }

    .navbar-links {
        position: fixed;
        top: 5rem;
        left: -100%;
        width: 100%;
        height: calc(100vh - 5rem);
        background-color: antiquewhite;
        transition: .4s;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .nav-links ul{
        flex-direction:column;
        gap:2rem;
    }

    .nav-links.active{
        left:0;
    }

    .hamburger{
        display:flex;
    }

    .about-left {
        width: 100%;
    }

    #register-but {
        padding: 0.3rem 0.6rem;
    }
    

}